:root {
  --bfh-color-light: #82acd7;
  --bfh-color-main: #4b647d;
  --bg-color-dark: #0c0f19;
}

body {
  color: var(--bfh-color-main);
}

header {
  display: flex;
  border-bottom: solid 0.2rem var(--bfh-color-main);
  padding-inline: 5rem;
  padding-block: 0.5rem;
}

a {
  text-decoration: none;
  color: var(--bfh-color-main);
}

.circle {
  margin-left: 2rem;
  font-family: UnitOT-Light;
  color: var(--bfh-color-main);
}

.title {
  text-align: center;
}

.content {
  padding-block: 2rem;
}

.Info {
  padding-inline: 6rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: white;
  }

  a {
    color: var(--bfh-color-light);
  }
}
